margin: 10px;

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}
a{
color: rgb(40, 26, 2 );

font-size:20px;
}
ul.nav {
left-padding: 20px;
display: flex;
justify-content: space-around;
}
nav.mainNav{
background-color: rgb(255, 242, 3);
border-radius: 25px;
padding-bottom: 10px;
padding-top: 10px;
margin-top: 5px;
}
h2{
display: flex;
justify-content: center;
}
body{
background-color: rgb(255, 253, 194);
}

h3{
padding-top: 10px;
color: rgb(40, 26, 2 );}

p.orderSent{
  padding-top: 10px;
  color:rgb(40, 26, 2 );
  font-size: 20px;
}

div.recipe-name{
font-size: 20px;
font-weight: bold;
text-decoration: underline;
padding-top: 15px;
}
div.recipes-list{
padding-left: 15px;
}
img.pics{
  height: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 8%;
  border: 4px solid black;
}
footer.footer{
background-color: rgb(255, 242, 3);
border-radius: 25px;
padding-top: 10px;
margin-bottom: 5px;
}

div.footer-center{
text-align: center;
color: rgb(40, 26, 2 );
}
div.footer-icons{
color: rgb(40, 26, 2 );
display: flex;
justify-content: space-around;
}
p.email{
margin-bottom: 1px;
}
table.centeredTable{
margin-left: auto;
margin-right: auto;
}
p#recipeIntro{
text-align: center;
color: rgb(40, 26, 2 );
font-size: 20px;
}
body.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main{
  flex: 1;
  margin-top:10px;
}
form{
padding-bottom: 20px;
}
br{
padding-bottom: 5px;
}
form.orderForm{
padding-left: 30px;
}
img.galleryImage{
height: 300px;
width: 300px;
border: 4px solid black;
border-radius: 12%;
margin: 10px 10px 10px 10px;
}
div.galleryDisplay{
padding-top: 10px;
display: flex;
justify-content: center;
flex-flow: wrap;
}
p.orderInfo{
  padding-top: 10px;
  color:rgb(40, 26, 2 );
  font-size: 20px;
  text-align: center;
  }
  img.muriel{
  float: left;
  height: 200px;
  width: 200px;
  border: 4px solid black;
  border-radius: 12%;
  margin: 5px 10px 10px 10px;
  }
  p.about{
    padding-top: 10px;
    color:rgb(40, 26, 2 );
    font-size: 20px;
    }
  p.aboutTagLine{
  padding-top: 10px;
  color: rgb(40, 26, 2);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  }
  p.aboutEnd{
  padding-top: 10px;
  color: rgb(40, 26, 2);
  font-size: 20px;
  text-align: center;
  }
  img.bakersb{
    float: left;
    height: 120px;
    width: 120px;
    border: 4px solid black;
    border-radius: 12%;
    margin: 5px 10px 10px 10px;

  }
    img.bakerst{
      float: right;
      height: 120px;
      width: 120px;
      border: 4px solid black;
      border-radius: 12%;
    margin: 5px 10px 10px 10px;
    }
p.landingpg{
    padding-top: 10px;
    color:rgb(40, 26, 2 );
    font-size: 20px;
    text-align: center;
    }
img.galleryFeature{
height: 300px;
width: 300px;
border-radius: 12px;
border: 4px solid black;
}
div.gallery-slideshow{
margin-top: 20px;
display:flex;
justify-content: center;
}