<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: page-header"></div>
<main>
    <p class="aboutTagLine">Life is too short to count calories.</p>
    <p class="aboutEnd">Muriel Mays is the pairing of two sisters with the same hobby - Teala and Beth, sisters and home bakers.</p>
    <p class="about"><img class="bakersb" th:src="@{/images/Beth.jpg}" alt="Beth Reincsh"/><img class="bakerst" th:src="@{/images/teala.jpg}" alt="Teala Sipes"/>Beth’s first career was teaching, but after 30 years she has retired and is following her passion for creating yummy things to eat and is most often found in her kitchen these days creating goodies for family and friends. Teala is also retired from her career with a state agency. She is a grandma who loves to make pretty things to eat.</p>
    <p class="about"><img class="muriel" th:src="@{/images/MurielMay.jpg}" alt="Muriel May Ensign"/>The namesake of the business is their sweet grandma who taught them both the pleasure of spending time in the kitchen, and making goodies for people to enjoy. She was Muriel May and quite the baker. Muriel lived in another town and would write letters (the lost art) and would always include what dessert she made for Ladies Aid Society, or she would share something scrumptious someone else brought. Of course she always got the recipe for those. When she visited she was most often in the kitchen whipping up all the desserts for holidays. Working in the kitchen brings the feeling that grandma Muriel May is right there.</p>
    <p class="aboutEnd">If you need something delicious or maybe just some ideas for a treat, we hope you find what you are looking for here!</p>
    <br>


</main>
</body>

<footer th:replace="fragments :: footer"></footer>

</html>