<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link th:href="@{/css/muriel_mays.css}" rel="stylesheet" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <meta charset="UTF-8"/>
    <title>Muriel May's</title>
</head>

<body class="container">

<nav class="mainNav" th:fragment="page-header">
    <h2>Muriel May's Sweets and Treats</h2>
            <ul class="nav">
                <li class="nav-item"><a th:href="@{/}">Main</a></li>
                <li class="nav-item"><a th:href="@{/about}">About Us</a></li>
                <li class="nav-item"><a th:href="@{/recipes}">Recipes</a></li>
                <li class="nav-item"><a th:href="@{/gallery}">Gallery</a></li>
                <li class="nav-item"><a th:href="@{/order}">Request an Order</a></li>
            </ul>
</nav>
<div class= "recipes-list" th:fragment="recipe-list-table">
    <th:block>
        <table class="recipe-list">
            <tr th:each="recipe : ${recipes}">
                <td>
<!--                    <div th:text="'ID: ' + ${recipe.id}"></div>-->
                    <div class="recipe-name" th:if = "${!#strings.isEmpty(recipe.name)}" th:text="'Name: ' + ${recipe.name}"></div>
                    <div th:if = "${!#strings.isEmpty(recipe.category)}" th:text="'Category: ' + ${recipe.category}"></div>
                    <div th:if = "${!#strings.isEmpty(recipe.servings)}" th:text="'Servings: ' + ${recipe.servings}"></div>
                    <div th:if = "${!#strings.isEmpty(recipe.prepTime)}" th:text="'Prep Time: ' + ${recipe.prepTime}"></div>
                    <div th:if = "${!#strings.isEmpty(recipe.ingredients)}" th:text="'Ingredients: ' + ${recipe.ingredients}"></div>
                    <div th:if = "${!#strings.isEmpty(recipe.step1)}" th:text="'Step 1: ' + ${recipe.step1}"></div>
                    <div th:if = "${!#strings.isEmpty(recipe.step2)}" th:text="'Step 2: ' + ${recipe.step2}"></div>
                    <div th:if = "${!#strings.isEmpty(recipe.step3)}" th:text="'Step 3: ' + ${recipe.step3}"></div>
                    <div th:if = "${!#strings.isEmpty(recipe.step4)}" th:text="'Step 4: ' + ${recipe.step4}"></div>
                    <div th:if = "${!#strings.isEmpty(recipe.step5)}" th:text="'Step 5: ' + ${recipe.step5}"></div>
                    <div th:if = "${!#strings.isEmpty(recipe.step6)}" th:text="'Step 6: ' + ${recipe.step6}"></div>
                    <div th:if = "${!#strings.isEmpty(recipe.step7)}" th:text="'Step 7: ' + ${recipe.step7}"></div>
                    <div th:if = "${!#strings.isEmpty(recipe.step8)}" th:text="'Step 8: ' + ${recipe.step8}"></div>
                    <div th:if = "${!#strings.isEmpty(recipe.step9)}" th:text="'Step 9: ' + ${recipe.step9}"></div>
                    <div th:if = "${!#strings.isEmpty(recipe.originalCreator)}" th:text="'Original Creator: ' + ${recipe.originalCreator}"></div>
                </td>
            </tr>
        </table>
    </th:block>
</div>

</body>
<footer class= "footer" th:fragment="footer">
    <div class="footer-icons">
        <a  href="#"><i class="fa fa-facebook"></i></a>
        <a  href="#"><i class="fa fa-twitter"></i></a>
        <a  href="#"><i class="fa fa-instagram"></i></a>
        <a  href="#"><i class="fa fa-pinterest"></i></a>
    </div>
    <div class="footer-center">
        <p class="email"><a href="mailto:murielmays@gmail.com">murielmays@gmail.com</a></p>
        <p class="footer-company-name">© 2020 Muriel May's Sweets and Treats</p>
    </div>


</footer>
</html>