<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link th:href="@{/css/muriel_mays.css}" rel="stylesheet" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <meta charset="UTF-8"/>
    <title>Muriel May's</title>
</head>

<body class="container">

<nav th:fragment="page-header">
    <h2>Muriel May's Sweets and Treats</h2>
            <ul class="nav">
                <li class="nav-item"><a th:href="@{/}">Main</a></li>
                <li class="nav-item"><a th:href="@{/about}">About Us</a></li>
                <li class="nav-item"><a th:href="@{/recipes}">Recipes</a></li>
                <li class="nav-item"><a th:href="@{/gallery}">Gallery</a></li>
                <li class="nav-item"><a th:href="@{/order}">Request an Order</a></li>
            </ul>
</nav>

</body>
</html>