<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: page-header"></div>
<main>
    <nav class="photoGallery">
        <h2>Welcome to the Gallery!</h2>
        <ul class="nav">
            <li class="gallery-item"><a th:href="@{/gallery/Images?category=CookiesBarsBrownies}">Cookies, Bars, & Brownies</a></li>
            <li class="gallery-item"><a th:href="@{/gallery/Images?category=CakesCupcakes}">Cakes & Cupcakes</a></li>
            <li class="gallery-item"><a th:href="@{/gallery/Images?category=BreadsMuffins}">Breads & Muffins</a></li>
            <li class="gallery-item"><a th:href="@{/gallery/Images?category=PastryDesserts}">Pastry & Other Desserts</a></li>
            <li class="gallery-item"><a th:href="@{/gallery/Images?category=Savory}">Savory</a></li>
        </ul>
    </nav>
    <div class="gallery-slideshow">
    <div class="w3-content w3-display-container">

        <div class="w3-display-container mySlides">
            <img class="galleryFeature" th:src="@{/images/GalleryFeature/SoftSourdoughBread.jpg}">
            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                Soft Sourdough Bread
            </div>
        </div>

        <div class="w3-display-container mySlides">
            <img class="galleryFeature"th:src="@{/images/GalleryFeature/YuleLogCake.jpg}">
            <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
                Yule Log Cake
            </div>
        </div>

        <div class="w3-display-container mySlides">
            <img class="galleryFeature" th:src="@{/images/GalleryFeature/WeddingCookies.jpg}">
            <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
                Wedding Cookies
            </div>
        </div>

        <div class="w3-display-container mySlides">
            <img class="galleryFeature"th:src="@{/images/GalleryFeature/RosetteBirthdayCake.jpg}">
            <div class="w3-display-topright w3-large w3-container w3-padding-16 w3-black">
                Birthday Cake
            </div>
        </div>

        <div class="w3-display-container mySlides">
            <img class="galleryFeature" th:src="@{/images/GalleryFeature/BlueFloralCookies.jpg}">
            <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
                Blue Floral Cookies
            </div>
        </div>

        <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

    </div>

    <script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>
    </div>

</main>
</body>

<footer th:replace="fragments :: footer"></footer>

</html>