<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: page-header"></div>
<main>
    <nav class="photoGallery">
        <h2>Welcome to the Gallery!</h2>
        <ul class="nav">
            <li class="gallery-item"><a th:href="@{/gallery/Images?category=CookiesBarsBrownies}">Cookies, Bars, & Brownies</a></li>
            <li class="gallery-item"><a th:href="@{/gallery/Images?category=CakesCupcakes}">Cakes & Cupcakes</a></li>
            <li class="gallery-item"><a th:href="@{/gallery/Images?category=BreadsMuffins}">Breads & Muffins</a></li>
            <li class="gallery-item"><a th:href="@{/gallery/Images?category=PastryDesserts}">Pastry & Other Desserts</a></li>
            <li class="gallery-item"><a th:href="@{/gallery/Images?category=Savory}">Savory</a></li>
        </ul>
    </nav>
    <div class="galleryDisplay">
        <img class="galleryImage" th:each="image : ${images}" th:src="${image}"/>

    </div>
</main>
</body>

<footer th:replace="fragments :: footer"></footer>

</html>