<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: page-header"></div>



<p>Welcome to Muriel May's Sweets and Treats!</p>

<p>We are a small home bakery offering cookies, cupcakes, cakes, and more. If you are interested in ordering from us, we ask that you fill out the "request and order form". If you would like to try some of our tasty bakes, keep an eye on our social media to see where we'll be next!</p>
</body>
</html>
